:root{

    --bgprimary:red;
    --text-primary:#fff;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.content{
    width: 100vw;
    height: 100vw;
    background-color: var(--bgprimary);
}